
menu "Phase 2: Node Bootstrapping"

config phase2.docker_registry
	string "docker registry"
	default "docker.io/colemickens"
	help
	  The docker registry to pull cluster components from.

config phase2.kubernetes_version
	string "kubernetes version"
	default "v1.3.0-azure"
	help
	  The version of Kubernetes to deploy.

config phase2.installer_container_spec
	string "installer container"
	default "docker.io/colemickens/install-k8s:v1"

endmenu
