apiVersion: v1
kind: Config
users:
- name: kubelet
  user:
    client-certificate-data: {{ .Options.KUBELET_CERT }}
    client-key-data: {{ .Options.KUBELET_KEY }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ or .Options.KUBELET_CA_CERT .Options.CA_CERT}}
contexts:
- context:
    cluster: local
    user: kubelet
  name: service-account-context
current-context: service-account-context
